<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swap.mapper.ShopsMessageCustomMapper">

    <resultMap id="BaseResultMap" type="com.swap.po.ShopsMessageCustom">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="publishtime" property="publishtime" jdbcType="TIMESTAMP" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="my_id" property="myId" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByPrimary" parameterType="Integer" resultMap="BaseResultMap">
        SELECT * FROM 
        (SELECT s.*,u.username,u.headimg FROM shops_message s,users u WHERE s.user_id=u.id AND s.my_id = #{id,jdbcType=INTEGER}   ORDER BY s.publishtime DESC ) 
        AS shops_message 
        GROUP BY shops_message.user_id 
        ORDER BY publishtime DESC
    </select>

    <!-- 按时间升序查询，并查询前50条 -->
    <select id="selectByIdshopsMess" resultType="com.swap.po.ShopsMessageCustom">
        SELECT shops_message.*,users.headimg
        FROM shops_message,users
        WHERE shops_message.my_id=users.id
        AND((shops_message.user_id=#{userid,jdbcType=INTEGER} AND
        shops_message.my_id=#{myid,jdbcType=INTEGER})
        OR(shops_message.user_id=#{myid,jdbcType=INTEGER} AND
        shops_message.my_id=#{userid,jdbcType=INTEGER}))
        ORDER BY publishtime ASC LIMIT 50
    </select>
</mapper>